@charset "UTF-8";

main .main-flex .imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Centralizar as imagens verticalmente */
    flex-wrap: wrap;
}

.imagem h2 {
    width: 100%;
}

.imagem img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 401px) {

    main .main-flex .imagem div {
        width: 48%;
        margin: 1%;
    }
}

.video video {
    width: 100%;
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    /* Começa com opacidade 0 */
    transition: opacity 0.3s ease-in-out;
    /* Adiciona uma transição suave de opacidade */

}

#lightbox-img {
    max-height: 90vh;
    max-width: 90vw;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}