@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
  --fundobody: #96d764;
  --fundobarra: #f2f2f2;
  --corbarra1: #007d00;
  --corbarra2: #199619;
  --corbarra3: #32af32;
  --corbarra4: #64c864;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: var(--fundobody);
}

header {
  max-width: max-content;
  margin: auto;
}

header > h1 {
  background-color: white;
  padding: 0px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.200);
  font-size: 400%;
  font-family: 'Allura', cursive;
  text-align: center;
}

#info {
  text-align: center;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.200);
  border-radius: 1px;
  font-size: 150%;
}

#amount {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 79vw;
  margin: auto;
  padding: 1vw;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.200);
  border-radius: 10px;
}

#bar-porcent {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

#progress-bar {
  display: flex;
  flex-grow: 99;
  align-items: center;
  height: 2.5vh;
  background-color: var(--fundobarra);
  border-radius: 10px;
  margin: 5px;
}
  
#progress {
  display: flex;
  height: 80%;
  background-image: linear-gradient(to right, var(--corbarra1), var(--corbarra2) 25%, var(--corbarra3) 50%, var(--corbarra4) 75%);
  border-radius: 10px;
}

#porcentagem {
  display: flex;
  flex-grow: 1;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#amount-raised,
#goal,
#rendimento{
  font-weight: bold;
  margin: 10px;
}

@media screen and (min-width: 401px) {
  #amount-raised,
  #goal,
  #rendimento {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  #amount-raised,
  #goal,
  #rendimento {
    font-size: 23px;
  }
}

/* Temporizador */
.countdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.countdown-item span:first-child {
  font-size: 30px;
}

.countdown-item span:last-child {
  font-size: 15px;
}

.nomes{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

